<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px" fxLayoutGap.xs="0">
  <!-- Assignment Week 1 TASK 1-2-->
  <!-- 6. Exercise (Instructions): Angular and Promise Part 2 -->
  <div fxFlex="40">
    <div *ngIf="dish" [@visibility]="visibility">
      <md-card>
        <md-card-header>
          <md-card-title>
            <h3>{{dish.name | uppercase}}</h3>
          </md-card-title>
        </md-card-header>
        <img class="mat-card-image" src="{{BaseURL + dish.image}}" alt={{dish.name}}>
        <md-card-content>
          <p>{{dish.description}}
          </p>
        </md-card-content>
        <md-card-actions>
          <button md-button [routerLink]="['/dishdetail', prev]">
            <span class="fa fa-chevron-left fa-lg"></span>
          </button>
          <button md-button (click)="goBack()">BACK</button>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
          <span class="flex-spacer"></span>
          <button md-button [routerLink]="['/dishdetail', next]">
            <span class="fa fa-chevron-right fa-lg"></span>
          </button>

        </md-card-actions>
      </md-card>
    </div>
    <div [hidden]="dish">
      <md-spinner></md-spinner>
      <h4>Loading . . . Please Wait</h4>
    </div>
  </div>
  <!-- Assignment Week 1 TASK 3 -->
  <div fxFlex="60">
    <div *ngIf="dish" [@visibility]="visibility">
      <md-card>
        <md-card-header>
          <md-card-title>
            <h3>COMMENTS</h3>
          </md-card-title>
        </md-card-header>
        <md-card-content>
          <div *ngFor="let comment of dish.comments">
            <p>{{comment.comment}}</p>
            <p>{{comment.rating}} Stars</p>
            <p>{{comment.author}}, {{comment.date | date:'mediumDate'}}</p>
            <br>
          </div>
          <!-- Week 3 Assignment Task 3 -->
          <div *ngIf="commentFeedForm.value.author">
            <p>{{ commentFeedForm.value.comment }}</p>
            <p>{{ commentFeedForm.value.rating}} Stars</p>
            <p>{{ commentFeedForm.value.author}}, {{ commentFeedForm.value.date | date:'mediumDate'}}</p>
            <p></p>
            <br>
          </div>
          <!-- Week 3 Assignment Task 1 -->
          <form novalidate [formGroup]="commentFeedForm" (ngSubmit)="onSubmit()" class="full-width">
            <p>
              <md-input-container class="full-width" dividerColor="{{(formErrors.author) ? 'warn' : 'primary'}}">
                <input mdInput formControlName="author" placeholder="author Name" type="text" required>
                <md-hint>
                  <span [hidden]="!(formErrors.author)">
                    {{formErrors.author}}</span>
                </md-hint>
              </md-input-container>
            </p>
            <div layout="row">
              <label>Your Rating</label>
              <md-slider flex formControlName="rating" md-discrete step="1" min="1" max="5" aria-label="Comment-Rating" placeholder="Your Rating">
              </md-slider>
            </div>
            <p>
              <md-input-container class="full-width">
                <textarea mdInput formControlName="comment" placeholder="Your Feedback" rows=12>
                </textarea>
                <md-hint>
                  <span [hidden]="!(formErrors.comment)">
                    {{formErrors.comment}}</span>
                </md-hint>
              </md-input-container>
            </p>
            <button type="submit" md-button class="background-primary text-floral-white" [disabled]="commentFeedForm.invalid"> Submit
            </button>
          </form>

        </md-card-content>
      </md-card>
    </div>
    <div [hidden]="dish || dishErrMess">
      <md-spinner></md-spinner>
      <h4>Loading . . . Please Wait</h4>
    </div>
    <div *ngIf="dishErrMess">
      <h2>Error</h2>
      <h4>{{dishErrMess}}</h4>
    </div>
  </div>
</div>
